html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #eae0d5;
}

#mainNav {
    background-color: #386641;
}

#mainFooter {
    background-color: #386641;
    padding: 0;
}